// Specific CSS for your home-page
.header-homepage {
  background-color: #EEE1FF;
  opacity: 1;
  color: black;
  font-family: 'Roboto', sans-serif;
  & h1 {
    font-weight: 600;
  }
}

// .home-h1 {
//   padding: 10px 10px 5px 10px;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: end;
// }

// .h1-daily {
//   margin-right: 20px;
//   margin-top: 20px;
// }

// .h1-mood {
//   margin-right: 20px;
// }

.svg-green {
  filter: invert(64%) sepia(100%) saturate(339%) hue-rotate(115deg) brightness(82%) contrast(92%);
}

.schedular {
  background-color: #EEE1FF;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(126,87,88,.1), 0 5px 5px rgba(0,0,0,.07);
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
}

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.height-31vh {
  height: 31vh;
}

.plus-button {
  margin-bottom: -25px;
  margin-right: -25px;
  margin-top: -12px;
}

.gratitude-list {
  // margin-bottom: 0.5rem;
}

.gratitudes {
  height: 90%;
}

.bullet-path{
  position: absolute;
  top: -5px;
  left: -28px;
}

.bullet-point {
  width: 100px;
  height: 1px;
  position: relative;
  left: 10px;
  top: 10px;
}

.date-gratitude {
  border-left: 3px solid #8AC6A9;
  padding-left: 5px;
}

.date-bullet {
  position: relative;
}
