<h1>Mon journal de Gratitude</h1>

<%= @diary.date %>
<%= simple_form_for @diary do |f| %>
  <%= f.input :gratitude, as: :text, label: "Écris les moments positifs de ta journée" %>
  <%= f.submit %>
<% end %>
