<h1>Mon journal de Gratitude</h1>

<%= simple_form_for @diary do |f| %>
  <%= f.input :gratitude, label: "Aujourd'hui, je suis reconnaissant·e pour :" %>
<% end %>

<%= link_to ">", diary_moods_path(@diary) %>
