<div class="container charts">

  <div class="entire form">
    <h1 class="dashboard-title">Mon tableau de bord</h1>


  <% charts_colors = ["#8AC6A9", "#EEE1FF", "#E5F8F4", "#FFEB82","#8AC6A9", "#EEE1FF", "#E5F8F4", "#FFEB82","#8AC6A9", "#EEE1FF", "#E5F8F4", "#FFEB82", "#8AC6A9", "#EEE1FF", "#E5F8F4", "#FFEB82" ]%>


  <% @user_categories.each_with_index do |cat, i| %>
    <div class="card-category">
      <h2><%= cat.title %></h2>
      <% color = charts_colors[i] %>
      <div class ="chart-mood" >
        <%= area_chart current_user.moods.where(category: cat).map {|mood| ["#{mood.diary.date}", mood.rating]}.to_h, width: "100%", height: "200px", min: -5, max: 5, colors: [color,"#666"] %>
      </div>
    </div>
  <% end %>

  <div class = "chevrons" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa-solid fa-chevron-up fa-2xl"></i>
    <i class="fa-solid fa-chevron-down fa-2xl"></i>
  </div>

  <div class="collapse" id="collapseExample">
    <% @other_categories.each_with_index do |cat, i| %>
      <div class="card-category">
        <h2><%= cat.title %></h2>
        <% color = charts_colors[i] %>
        <div class ="chart" >
          <%= area_chart current_user.moods.where(category: cat).map {|mood| ["#{mood.diary.date}", mood.rating]}.to_h, width: "100%", height: "200px", min: -5, max: 5 , colors: [color,"#666"] %>
        </div>
      </div>
    <% end %>
  </div>

  </div>
</div>
