<h1>Catégories</h1>

<%# itérer sur toutes les catégories
le toggle sera sur true ou false en fonction de si c'est une catégorie du user%>

<% @categories.each do |category| %>
  <h1><%= category.title %></h1>
  <% if current_user.categories.include? category %>
    Inclus
    <%= link_to category.title, user_category_path(current_user.user_categories.find_by(category: category)), data: { turbo_method: :delete} %>
  <% else %>
    Exclus
    <%= link_to category.title, user_categories_path(category_id: category.id), data: { turbo_method: :post} %>
  <% end %>
<% end %>
