.play-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.end-button {
  background-color: $green;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 20px;
  box-shadow: 0 0 0 0 rgba(40, 173, 168, 1);
  transform: scale(1);
	// animation: pulse 4s infinite;

  &:hover {
    color:black;
    background-color: #a1dabe;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(40, 173, 168, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(220, 255, 254, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
}

.end-btn-container {
  display: flex;
  justify-content: center;
}

.mail-button {
  font-size: 24px;
  margin-top: 2rem !important;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: $green;
  padding: 5px 5px;
  box-shadow: 0 0 0 0 rgba(40, 173, 168, 1);
  transform: scale(0.3);
	animation: pulse 4s infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(40, 173, 168, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(220, 255, 254, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}
