.simple-calendar .prev-month {
  background: #8AC6A9;
}

.simple-calendar .next-month {
  background: #E5F8F4;
}

.simple-calendar .today {
  background: #8AC6A9;
}

.simple-calendar th {
  border-style: none;
}
