.categories-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 630px;
  margin: 24px;
}

.categories {
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  width: 90%;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.mood-category {
  text-decoration: none;
  border-radius: 8px;
  padding: 6px;
  margin: 12px 20px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.chosen-category {
  background-color: $green;
  color: white;
  display: flex;
  justify-content: center;
}

.other-category {
  background-color: $purple;
  color: black;
  display: flex;
  justify-content: center;
}

.categories-edit-title {
  text-align: center;
}
