.categories-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  margin: 24px;
}

.categories {
  background-color: $aliceblue;
  padding: 12px;
  border-radius: 5px;
  width: 80%;
}

.categories a {
  text-decoration: none;
  color: black;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 12px;
  width: 75%;
}

.chosen-categories {
  height: 30%;
  align-items: center;
}

.other-categories {
  height: 60%;
}
.chosen-categories a {
  background-color: $yellow;
  display: flex;
  justify-content: center;
}

.other-categories a {
  background-color: $blue;
  display: flex;
  justify-content: center;
}
