

.chart-daily {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  height: 100px;
  margin-bottom: 20px;
}

.chart-mood {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  height: 200px;
  margin-bottom: 20px;
}

.chart {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  height: 200px;
  margin-bottom: 20px;
}


.charts h2{
 font-size: 20px;
 padding: 2px;
}
