.form-control.is-valid {
  border-color: $green;
  padding-right: calc(1.5em + 0.75rem);
  background-color: transparent;
  background-image: none;
}

.form-control:focus {
  color: white;
  background-color: $green;
  border-color: $green;
}

.form-control {
  display: block;
  width: 80%;
  height: 300px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: grey;
  background-color: $green;
  background-clip: padding-box;
  border: 1px solid $green;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
